################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
.vs

/Prog3/Prog3
/WebAppsProg3
/Prog3.zip
